/* app.css */

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito"
}

/* Fades and Animations */

.fadeIn {
    opacity: 0;
    transition: opacity 0.6s ease-in;
    /* Fade in over 0.6 seconds */
}

.fadeInFast {
    opacity: 0;
    transition: opacity 0.3s ease-in;
    /* Fade in over 0.3 seconds */
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }
}

@keyframes bounceSmall {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}


/* Header */

header {
    height: 100vh;
    background-color: #7BD3EA;

    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: center;
}



header .characterContainer {
    justify-content: center;
    align-items: center;
    vertical-align: center;

    display: flex;
    flex-direction: row;
    color: black;

    width: 50vw;
}

@media (max-width: 800px) and (orientation: portrait) {
    header .characterContainer {
        flex-direction: column;
    }
}


header .headerText {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30em;
    position: relative;
}

header .headerText h1 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.104);
    border-radius: 15px;
    width: 8em;
    margin: 0.5em;
}

@media (max-width: 1024px) {
    header .headerText {
        width: 20em;
        margin-left: 50px;
    }
}

@media (max-width: 800px) {
    header .headerText {
        width: 20em;
        margin: 0.5em;
        margin-top: -40px;
    }
}

header .headerText h3 {

    background-color: rgba(255, 255, 255, 0.104);
    border-radius: 15px;
    width: 18em;
}

header .headerImage {
    opacity: 0;
    transition: opacity 0.2s ease-in;
    /* Fade in over 2 seconds */
    position: relative;
    animation: bounce 0.4s infinite;
    /* Default to bouncing */
    animation-play-state: paused;
    /* Start paused */


    display: flex;
    align-items: center;
    justify-content: center;
}


header .headerImage img {
    width: 20em !important;
    margin: 5em;
    margin-left: 3em;

    max-width: 60vh;

}

@media (max-width: 800px) {
    header .headerImage img {
        width: 16em !important;
        margin-left: 7em;
        margin: 3em;
    }
}

#amberPicture {
    width: 400px;
}

#chevDown {
    position: absolute;
    top: 90vh;
    left: 50vw - 40px;
    width: 80px;
    max-width: 18vh;

    animation: bounceSmall 1.5s infinite;
    animation-play-state: paused;
}

@media (max-width: 800px) {
    #chevDown {
        top: 85vh;
    }
}

#betweenHeaderAndProjects {
    background: linear-gradient(to bottom, #7BD3EA, #A1EEBD);
    width: vw;
    height: 70px;
}

#projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    width: vw;
    height: vh;
    background-color: #A1EEBD;
}

#projectsContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60%;

    background-color: #f0f0f055;

    border-radius: 15px;
    border: 5px solid #50fd90ae;
}

@media (max-width: 1224px) {
    #projectsContainer {
        width: 80%;
    }
}

@media (max-width: 800px) {
    #projectsContainer {
        width: 90%;
    }
}

#projectsContainer h4 {
    flex: 2;
    margin: 5px;
    position: relative;
}

.rightBorderedDiv {
    width: 80%;
    left: 5%;
    position: relative;

    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 6;

    margin-bottom: 15px;
    margin-top: 10px;
    padding: 10px;

    background-color: #f0f0f078;

    border: 5px solid #A1EEBD;
    border-radius: 15px;

    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.leftBorderedDiv {
    width: 80%;
    left: 15%;
    position: relative;
    text-align: justify;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 6;

    padding: 10px;
    margin-bottom: 20px;

    border: 5px solid #A1EEBD;
    border-radius: 15px;

    background-color: #f0f0f078;

    opacity: 0;
    transition: opacity 0.5s ease-in;
}

@media (max-width: 800px) {
    .leftBorderedDiv {
        width: 90%;
        left: 5%;
    }

    .rightBorderedDiv {
        width: 90%;
        left: 5%;
    }
}


.projectContentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: vh
}

.projectContentContainerImg {
    position: relative;
    width: 80%;

    margin-top: 20px;

    border: 5px solid #effff5;
}


.iframeVideo {
    position: relative;
    width: 80%;

    margin-top: 20px;

    border: 5px solid #effff5;
    aspect-ratio: 16/9;
}



.projectContentContainer p {
    flex: 2;

    margin: 10px;
    max-width: 80%;
}


.projectContentContainer h5 {
    flex: 2;
    max-width: 80%;
    position: relative;
}

#betweenProjectsAndTechStack {
    background: linear-gradient(to bottom, #A1EEBD, #F6F7C4);
    width: vw;
    height: 70px;
}

#techStack {
    width: vw;
    background-color: #F6F7C4;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#techStackContainer {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 35em;
    background: transparent;
    background-color: #f0f0f06a;

    border: 5px solid #fcff4969;
    border-radius: 15px;

    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.techStackStack {
    background-color: #f0f0f07e;
    border-radius: 15px;
    border: 5px solid #F6F7C4;
    width: 30em;

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.techStackStack p {
    max-width: 80%;
    margin: 2px;
}

.techStackStack p:first-of-type {
    margin-top: 10px;
}

.techStackStack p:last-of-type {
    margin-bottom: 10px;
}

@media (max-width: 800px) {

    #techStackContainer {
        width: 90%;
    }

    .techStackStack {

        width: 90%;
    }
}

#betweenProjectsAndContact {
    background: linear-gradient(to bottom, #F6F7C4, #F6D6D6);
    width: vw;
    height: 70px;
}


footer {
    width: vw;
    background-color: #F6D6D6;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.verticalSpacerOne {
    padding-bottom: 12px;
    display: flex;
    position: relative;
}

.verticalSpacerTwo {
    padding-bottom: 12px;
    display: flex;
    position: relative;
}

.playStoreIconHolder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: vw;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

img {

    width: 100px position: static
}




h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 14px;
    }

}